
@page "/indexa"
@inherits IndexZBase
@using DashBoard.Pages.Sistema
@using DashBoard.Pages.Alija

<h3>Administracion DashBoard RH</h3>
<AuthorizeView>
    <Authorized>
        <CascadingValue Value="ElUser" Name="ElUserAll">
            <CascadingValue Value="CorporativoAll" Name="CorporativoAll">
                @if (ElUser != null && ElUser.UserId.Length > 10 && CorporativoAll != "All")
                {
                    <RadzenTabs>
                        <Tabs>
                            <RadzenTabsItem Text="Folios">
                                <FolioList ReadLasOrgsAll="LeerOrgAll" DicData="DicDataAll" 
                                            LasOrgs="LasOrgAll"
                                           LosClientes="LosClientesAll"/>
                            </RadzenTabsItem>

                            <RadzenTabsItem Text="Empresas">
                                <OrgList LeerOrgAll="LeerOrgAll" LeerUsersAll="LeerUsersAll"
                                         LasOrgs="LasOrgAll" LosUsuarios="LosUsersAll"
                                         NivelesEdit="NivelesAll" TipoOrgs="TipoOrgsAll" />
                            </RadzenTabsItem>

                            <RadzenTabsItem Text="Usuarios">
                                <UsersList LeerOrgAll="LeerOrgAll" LeerUsersAll="LeerUsersAll"
                                           LasOrgs="LasOrgAll" LosUsuarios="LosUsersAll"
                                           NivelesEdit="NivelesAll" TipoOrgs="TipoOrgsAll" />
                            </RadzenTabsItem>

                            <RadzenTabsItem Text="Informacion">
                                <RadzenAccordion>
                                    <Items>
                                        <RadzenAccordionItem Text="Mis Datos" Icon="account_box">
                                            <MisDatos Niveles="NivelesAll" LasOrg="LasOrgAll" />
                                        </RadzenAccordionItem>

                                        @if(LasAlijadorasAll.Count > 1)
                                        {
                                            <RadzenAccordionItem Text="Empresa Activa" Icon="home">
                                                <EmpresaActiva LasOrgs="LasOrgAll" LasAlijadoras="LasAlijadorasAll" />
                                            </RadzenAccordionItem>
                                        }

                                        <RadzenAccordionItem Text="Productos" Icon="money">
                                            <PreciosList LasOrgs="LasOrgAll" />
                                        </RadzenAccordionItem>

                                        <RadzenAccordionItem Text="Bitacora" Icon="book">
                                            <Bitacora LasOrgs="LasOrgAll" />
                                        </RadzenAccordionItem>


                                        <RadzenAccordionItem Text="Configuracion" Icon="note">
                                            <RadzenLabel>Falta desarrollar</RadzenLabel>
                                        </RadzenAccordionItem>
                                    </Items>
                                </RadzenAccordion>

                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                }
                else
                {
                    <div class="spinner">  </div>
                }
            </CascadingValue>
        </CascadingValue>
    </Authorized>

    <NotAuthorized>
        <h1>Es necesario firmar para consultar esta pagina, </h1>
        <RadzenLink Icon="accessibility" Path="Identity/Account/Login?ReturnUrl=/indexz"
                    Text="Firma" />
    </NotAuthorized>
</AuthorizeView>

@code {

}

