@page "/clientes"
@inherits IndexClientesBase
@using DashBoard.Pages.Alija
@using DashBoard.Modelos
@using DashBoard.Pages.Zuver
@using DashBoard.Pages.Sistema

<h3>Alijadores</h3>

<h2>
    Aplicacion de
    @if (EmpresaActivaAll != null && EmpresaActivaAll.OrgId.Length > 30 && LasAlijadorasAll != null && LasAlijadorasAll.Any())
    {
        @if (LasAlijadorasAll.Any(x => x.OrgId == EmpresaActivaAll.OrgId))
        {
            <RadzenLabel>@LasOrgsAll.FirstOrDefault(x => x.OrgId == EmpresaActivaAll.OrgId)!.ComercialRfc</RadzenLabel>
        }
    }
</h2>
<AuthorizeView>
    <Authorized>
        <CascadingValue Value="ElUser" Name="ElUserAll">
            <CascadingValue Value="EmpresaActivaAll" Name="EmpresaActivaAll">
                <CascadingValue Value="CorporativoAll" Name="CorporativoAll">

                    @if (ElUser != null && ElUser.UserId.Length > 10 && CorporativoAll != "All" && LasOrgsAll.Any()
                       && LosUsersAll.Any())
                    {

                        @if (EmpresaActivaAll == null || EmpresaActivaAll.OrgId.Length < 30)
                        {
                            <EmpresaActiva LasEmpHist="LasEmpActAll" LasOrgs="LasOrgsAll"
                                           LosUsers="LosUsersAll"
                                           ReadEmpresaActivaAll="LeerEmpresaActivaAll" />
                        }
                        else
                        {

                            <RadzenTabs>
                                <Tabs>
                                    <RadzenTabsItem Text="Actividad">

                                    </RadzenTabsItem>

                                    <RadzenTabsItem Text="Factura">
                                        <FacturaList ReadLasOrgsAll="LeerOrgAll"
                                                     ReadLasFacturasAll="LeerFacturas" ReadLosFoliosAll="LeerFolios"
                                                     LasOrgs="LasOrgsAll" LasFacturas="LasFacturasAll"
                                                     LosFolios="LosFoliosAll" />
                                    </RadzenTabsItem>

                                    <RadzenTabsItem Text="Usuarios">
                                        <UsersList LeerOrgAll="LeerOrgAll" LeerUsersAll="LeerUsersAll"
                                                   LasOrgs="LasOrgsAll" LosUsuarios="LosUsersAll"
                                                   NivelesEdit="NivelesAll" TipoOrgs="TipoOrgsAll" />
                                    </RadzenTabsItem>

                                    <RadzenTabsItem Text="Informacion">
                                        <RadzenAccordion>
                                            <Items>
                                                <RadzenAccordionItem Text="Mis Datos" Icon="account_box">
                                                    <MisDatos Niveles="NivelesAll" LasOrg="LasOrgsAll" />
                                                </RadzenAccordionItem>

                                                <RadzenAccordionItem Text="Bitacora" Icon="book">
                                                    <Bitacora LasOrgs="LasOrgsAll" />
                                                </RadzenAccordionItem>

                                            </Items>
                                        </RadzenAccordion>

                                    </RadzenTabsItem>
                                </Tabs>
                            </RadzenTabs>
                        }
                    }
                    else
                    {
                        <div class="spinner"> </div>
                    }


                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </Authorized>

    <NotAuthorized>
        <h1>Es necesario firmar para consultar esta pagina, </h1>
        <RadzenLink Icon="accessibility" Path="Identity/Account/Login?ReturnUrl=/clientes"
                    Text="Firma" />
    </NotAuthorized>
</AuthorizeView>

@code {

}


