@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmacion de cambio de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor checa tu email para cambiar la contraseña.
</p>
