@page "/"

<PageTitle>Alijadores</PageTitle>

<h1>Alijadores del Pacifico</h1>

<p>Bienvendios a sitio de Alijadores del Pacifico</p>
<p>Nuestro sitio muestra informacion de nuestra empresa y nuestros servicios</p>
<p>Te invitamos a registrarte para que estemos en contacto</p>
<a href="/indexc">Clientes</a> <a href="/indexa">Administracion</a>